[submodule "Group Projects/Bruin Movies/BruinMovies"]
	path = Group Projects/Bruin Movies/BruinMovies
	url = https://github.com/HPossible/BruinMovies.git
[submodule "Personal Project/MarbleMadness/Marble Madness"]
	path = Personal Project/MarbleMadness/Marble Madness
	url = https://github.com/HPossible/Marble-Madness.git
